/*
Author:Vaishnavi
Version:1.0
*/
@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

header { padding: 20px 0; }

h1 { 

  display: inline-block;
  color: black;
  font-size: 56px;
  font-weight: 600;
}

nav { 

  padding-left: 50px;
  display: inline-block;
}
nav ul li { padding: 0 10px;}

nav ul li a { 
  color: black;
  font-size: 20px;
  font-weight: 600;
}

nav ul li a:hover,
h2 a:hover { color: red; }

.categories-dropdown { padding: 20px 0; }

h2 { 
  padding: 10px 0;
  font-size: 38px;
  font-weight: 600;
}

.date,
.excerpt { padding: 10px 0; }

h2 a { color: black; }

.posts-grades li { padding: 20px 0; }

.featured-image {
  width: 300px;
  height: 400px;
  padding: 20px 0;
}

.realted-posts { padding: 60px 0; }

.realted-posts h3 {
  font-size: 28px;
  font-weight: 600; 
}

.realted-posts h3 a { color: black; }
.realted-posts h3 a:hover { color: red; }

.realted-posts ul { 
  padding: 40px 0;
  display: flex;

}

.realted-posts ul li {
  width: 33.33%;
  text-align: center;
}

.realted-posts ul li figure { padding:  0 100px; }

.show {
  color: green;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}